<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EatNGoPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
    <add name="POSStagingEntities" connectionString="metadata=res://*/Staging.csdl|res://*/Staging.ssdl|res://*/Staging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=POSStaging;persist security info=True;user id=sa;password=sql2k;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="POSStagingEntities1" connectionString="metadata=res://*/Staging.csdl|res://*/Staging.ssdl|res://*/Staging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=POSStaging;persist security info=True;user id=sa;password=sql2k;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="POSStagingContext" connectionString="Data Source=.;Initial Catalog=POSStaging;Persist Security Info=True;User ID=sa;Password=sql2k;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />
</connectionStrings><applicationSettings>
        <EatNGoPost.Properties.Settings>
            <setting name="LicenseServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CompanyDB" serializeAs="String">
                <value>ENGLIVE2</value>
            </setting>
            <setting name="DBUserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>sql2k</value>
            </setting>
            <setting name="SAPUserName" serializeAs="String">
                <value>Oryx</value>
            </setting>
            <setting name="SAPPassword" serializeAs="String">
                <value>Sap101..</value>
            </setting>
            <setting name="Staging" serializeAs="String">
                <value>Data Source=localhost;Initial Catalog=Staging;Persist Security Info=True;User ID=sa;Password=sql2k</value>
            </setting>
            <setting name="DateStart" serializeAs="String">
                <value>6/1/2016 0:00:00 AM</value>
            </setting>
        </EatNGoPost.Properties.Settings>
    </applicationSettings>
</configuration>